{% load static %}
<link rel="stylesheet" type = "text/css" href="{% static 'blogs/styles.css' %}">

<h1>YOU MADE THESE!!1 </h1>
<a href="{% url 'blogs:index' %}"> Teleport back to SPACE </a>
{% if blogs_list %}
        <ul>
        <h2> Hello {{user.username}}!</h2>
        
        {% for blog in blogs_list %}
            <li>
                <h4>{{ blog.title }}<br></h4>
                Text: {{ blog.text }} <br>
                Written by: {{ blog.author }} <br>
                Published on: {{ blog.published_date }} <br>
                <span><a href="{% url 'blogs:update' blog.id %}">edit</a></span>
                <span><a href="{% url 'blogs:delete' blog.id %}">delete</a></span><br>
            </li>
        {% endfor %}
        </ul>

{% else %}
    <p>You need to write more</p>
{% endif %}
